@charset "utf-8";
body{
    width: 100%;
    font-family: sans-serif;
}
#header{
    width: 700px;
    margin: 0 auto;
}
.title{
    color: #4D77A8;
    display: inline;
    padding-right: 10px;
    font-size: 150%;
    font-weight:  bold;
 }
.title2{
    color: #4D77A8;
    font-size: 110%;
    font-weight: bold;
}

.contents{
    width: 700px;
    margin: 0 auto;
}
.contents a:hover{
    text-decoration: underline;
}
.menu{
    background: #4D77A8;
}
.menu ul{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu1{
    display: inline;
    border-right: 1px solid #ffffff;
    padding: 0 10px;
}
.menu1 a{
    text-decoration: none;
    color: #ffffff;
}
.menu1 a:hover{
    text-decoration: underline;
}

#footer{
    width: 100%;
    background: #4D77A8;
    text-align: center;
    color: #ffffff;
}
img{
    border: 1px solid #4D77A8;
    padding: 2px;
}

.box{
    border-bottom: 1px solid #4D77A8;
    font-weight: bold;
    font-size: 120%;
    color: #4D77A8;
}

.bold{
    font-weight: bold;
}
.news{
    list-style: none;
}